<h3>Authenticate with Stack Exchange</h3>
<p>From here, you can link your Bonfire account with Stack Exchange. This allows you to access features on Bonfire
  that require Stack Exchange write access to perform.</p>

<%= link_to 'Authenticate', url_for(:controller => :se_auth, :action => :redirect), :method => :post, :class => 'btn btn-danger' %>

